.searchBar {
    width: 100%;
    height: 32px;
    margin-bottom: 8px;
}

.searchButton {
    background-color: black;
    color: white;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.favLink {
    text-align: center;
    line-height: 32px;
}